extends ../layouts/default.pug

block content
  .card
    .card-header
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/') Home
          li.breadcrumb-item.active Xendit
    .card-body
      ul
        li Credit Card
          ul
            li
              a(href='/xendit/cc/charge') Create Charge
        li Virtual Account
          ul
            li
              a(href='/xendit/va/banks') Banks
            li
              a(href='/xendit/va/create') Create VA
        li QR
          ul
            li
              a(href='/xendit/qr/create') Create QR
        li Retail Store
          ul
            li
              a(href='/xendit/rt/create') Create Retail