html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    title #{title}
    
  body
    .container
      input(type='hidden' name='message' id='message' value=message)
      .toast-container(style='position: absolute; top: 10px; right: 10px;')
        .toast.fade
          .toast-header
            strong.mr-auto Notification
            button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
              span(aria-hidden='true') &times;
          .toast-body= message

      nav.navbar.navbar-expand-lg
        .container-fluid
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/orders') Orders
            li.nav-item
              a.nav-link(href='/xendit') Xendit
            li.nav-item
              a.nav-link(href='/doku') Doku
      block content
    
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/axios/axios.min.js')
    script(type='text/javascript' nonce='eafaeb79e67d68285f2f3f6024270b02').
      $(document).ready(function() {
        let message = $('#message')[0].value;
        if (message) {
          $(".toast").toast('show');
        } else {
          $(".toast").toast('hide');
        }
      });
    block scripts